.hollow_button {

    background-color: white;
    border-radius: 26px;
    border: solid 3px var(--col-primary);

    font-family: var(--primary-font-family);
    font-weight: bolder;

    width: 152px;
    height: 40px;

    line-height: 10px;

    text-align: center;

    color: var(--col-primary);
}
